# dependencies
node_modules/

# build
dist/
dist-ssr/

# env / local
*.local
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# vite
.vite/
